/*
*******************************
* Animation Container
*******************************
*/
#pig-animation {
  width: 800px;
  height: 600px;
  background: url('../img/background.png') top left no-repeat;
  border-radius: 30px;
  margin: 0 auto;  /* center animation horizontally within browser window */
  margin-top: 10px;
  position: relative; /* because all the items inside this will be positioned absolutely */
}

/*
*******************************
* Fence Far
*******************************
*/
#fence-far {
  position: absolute;
  left: -10px;
  top: 30px;
}

/*
*******************************
* Fence Near
*******************************
*/
#fence-near {
  position: absolute;
  left: -10px;
  top: 180px;
}

/*
*******************************
* Pig Leg Left Back
*******************************
*/
#pig-leg-left-back {
  position: absolute;
  left: 240px;
  top: 370px;
}

/*
*******************************
* Pig Leg Left Front
*******************************
*/
#pig-leg-left-front {
  position: absolute;
  left: 480px;
  top: 370px;
}

/*
*******************************
* Pig Body
*******************************
*/
#pig-body {
  position: absolute;
  left: 160px;
  top: 275px;
}

/*
*******************************
* Pig Tail
*******************************
*/
#pig-tail {
  position: absolute;
  left: 150px;
  top: 260px;
}

/*
*******************************
* Pig Ear
*******************************
*/
#pig-ear {
  position: absolute;
  left: 460px;
  top: 240px;
}

/*
*******************************
* Pig Leg Right Back
*******************************
*/
#pig-leg-right-back {
  position: absolute;
  left: 200px;
  top: 380px;
}

/*
*******************************
* Pig Leg Right Front
*******************************
*/
#pig-leg-right-front {
  position: absolute;
  left: 440px;
  top: 380px;
}
